[% page.title = 'Informazioni sul sito' %]
[% WRAPPER page %]
<p>Questo sito ha lo scopo di documentare in modo accurato e completo 
lo stato della censura di Internet in Italia, con l'obiettivo di
stimolare il dibattito pubblico sulla questione.</p>

<p>Sono benvenute le segnalazioni di siti censurati ma non elencati in
questo sito.</p>

<p>Per informazioni:</p>
<address class="vcard">
  <strong class="fn">Marco d'Itri</strong> <a class="email" href="mailto:md@linux.it">&lt;md@linux.it&gt;</a><br>
  <a rel="me" class="url" href="http://www.linux.it/~md/">http://www.linux.it/~md/</a><br>
  <a rel="me" class="url" href="http://blog.bofh.it/">http://blog.bofh.it/</a><br>
  <a rel="me" class="url" href="https://twitter.com/rfc1036">@rfc1036</a>
</address>

<p>Il sito è realizzato interamente con software libero e 
<a href="https://github.com/rfc1036/censura">ne sono disponibili i sorgenti</a>.
Sono stati usati:</p>
<ul>
<li><a href="http://www.perl.it/documenti/modern_perl.html">Perl</a>,
 <a href="http://template-toolkit.org/">Template::Toolkit</a> e
 <a href="https://metacpan.org/module/DBIx::Class::Manual::Intro">DBIx::Class</a>.</li>
<li><a href="http://www.sqlite.org/">SQLite</a>.</li>
<li><a href="http://twitter.github.com/bootstrap/">Bootstrap</a> e il
 <a href="http://bootswatch.com/">tema Spacelab</a>.</li>
<li><a href="http://www.flotcharts.org/">Flot</a>.</li>
</ul>
[% END %]
